.DS_Store
node_modules
build
lib
*.log
.idea
.metadata
*.iml
jdt.ls-java-project
lerna-debug.log
.nyc_output
coverage
errorShots
custom-data-engineering-ide/*/src-gen
custom-data-engineering-ide/*/gen-webpack.config.js
custom-data-engineering-ide/*/.theia
custom-data-engineering-ide/*/.vscode
custom-data-engineering-ide/*/.test
.browser_modules
**/docs/api
package-backup.json
.history
.Trash-*
packages/plugin/typedoc
plugins
gh-pages
.vscode/ipch
dev-packages/electron/compile_commands.json
*.tsbuildinfo
.eslintcache
